@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Escrito Inicial de Queja</title>
</head>

<body>
    <div class="row" style="">
        <br />
        <br />
        <div style="float:left">
            <img width="75px;" src="~/img/footer.png" />
        </div>
        <div style="text-align:right; font-family:Candara; font-size:14px; vertical-align:text-bottom; color:gray">
            <p>
                <br><br>Av. 5 Poniente 339, Centro Histórico<br>
                Puebla, Pue. C.P.72000 Tel 2223094700<br>
                informes@cdhpuebla.org.mx | www.cdhpuebla.org.mx
            </p>
        </div>



    </div>
</body>
</html>