@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Escrito Inicial de Queja</title>
    </head>

    <body>
    <div class="row" style="">
        <br />
        <br />
        <div style="float:left">
            <img width="680px;" src="~/img/footer.png" />
        </div>
            <div style="float:left; ">

            <img width="118px;" src="~/img/logo_igualdad.png" />

            </div>


        </div>
    </body>
</html>
