@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Escrito Inicial de Queja</title>
</head>

<body>
    <div class="row">
        <div style="float:left">
            <img width="110px;" src="~/img/logo_cdhp2.png" />
        </div>
        <div style="float:left; margin-left:48%; margin-top:1%">
            <p style="color:#14B7B8; font-family:cursive; font-size:25px;"><i>¡Protegemos tus derechos!</i></p>
        </div>
        @*  <div style="float:left; margin-left:13%; margin-top:2%">
        <img width="180px" src="~/img/logo30años.png" />
        </div> *@
        @*   <img width="100%" src="../img/encabezado.png">*@

    </div>
    <br />
    <br />
    <br />
    <br />
</body>
</html>
