@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccesor
@{
    ViewData["Title"] = "Admin DQOT";
}

<div class="fondo text-center">

	<div class="row">
		<div class="col-4" style="margin-top:2%; margin-left:2%;">
			<img src="~/img/logo_horizontal-cdhp.png" width="100%" />
		</div>
		<div class="col-6">
			<h1 class="cards_item_title1" style="margin-top:5%;">VISUALIZACIÓN DE TURNOS ADMIN</h1>
		</div>
		<div class="container mt-5">
			<div class="content"> 
				<div class="row mb-4">
@*					<div class="col-5"> 
                            <div class="selectgroup selectgroup-pills">
                            <label class="selectgroup-item">
                              <input type="checkbox" name="value" value="HTML" class="selectgroup-input">
                              <span class="selectgroup-button">Queja</span>
                            </label>
                            <label class="selectgroup-item">
                              <input type="checkbox" name="value" value="CSS" class="selectgroup-input">
                              <span class="selectgroup-button">Orientación</span>
                            </label>
                            <label class="selectgroup-item">
                              <input type="checkbox" name="value" value="PHP" class="selectgroup-input">
                              <span class="selectgroup-button">Canalización</span>
                            </label>
                            <label class="selectgroup-item">
                              <input type="checkbox" name="value" value="JavaScript" class="selectgroup-input">
                              <span class="selectgroup-button">Sin definir</span>
                            </label>
                            </div>
					
					</div>*@
                    <div class="col-4">
                        <div class="example">
                            <input class="form-control btn-rounded input-daterange-datepicker" type="text" name="daterange">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="btn-group submitter-group float-left">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Status</div>
                            </div>
                            <div id="selectStatus">
                            </div>
                        </div>
                    </div>
				</div>
			</div>
			
			<!-- Inicio Tabla turnos -->
			 <div class="table-responsive">
                <table id="turnosVGQ" class="display" style="min-width: 845px">
                <thead>
                    <tr>
                        <th>TURNO</th>
                        <th>FECHA/HORA INGRESO</th>
                        <th>FECHA/HORA ASIGNADO</th>
                        <th>TIEMPO DE ESPERA</th>
                        <th>FECHA/HORA ATIENDE ABOGADO</th>
                        <th>FECHA/HORA FINALIZADO</th>
                        <th>TIEMPO DE ATENCIÓN</th>
                        <th>PETICIONARIO</th>
                        <th>ABOGADO</th>
                        <th>MÓDULO</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
@*                        <td>1</td>
                        <td>14/05/2023 09:31:00</td>
                        <td>09:31:00</td>
                        <td>09:31:00</td>
                        <td>10 minutos 5 segundos</td>
                        <td>Queja</td>
                        <td><img alt="image" src="~/img/avatar/avatar-1.png" class="rounded-circle" width="35" data-html="true" data-toggle="tooltip"></td>
                        <td>En curso</td>
                        <td><button type="button" class="btn btn-rounded btn-primary">Tomar turno</button></td>
                    </tr>*@
                </tbody>
            </table>
        </div>
        <!-- Fin tabla turnos-->
		</div>


	</div>


</div>

@section Scripts
{
    <script src="~/js/function_admindqot.js"></script>
    <script src="~/js/turnoclientadmindqot.js"></script>
}
