@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccesor
@{
    ViewData["Title"] = "ADMIN_DQOT_ESPECIAL";
    <link rel="icon" type="image/png" href="@Url.Content("~/img/logotipo_CDHP_2025.png")">
}

            <h1 class="cards_item_title1" style="margin-top:5%;">DPIT ADMIN</h1>
 

@section Scripts
    {
    <script src="~/js/function_admindqot.js"></script>
    <script src="~/js/turnoclientadmindqot.js"></script>


}




